.message {
  padding: 10px;
  border-radius: 8px;
  margin: 8px 0;
}

.message p {
  font-size: 16px !important;
}

.message.user {
  align-self: flex-end;
}

.message.assistant {
  align-self: flex-start;
  background-color: #e1f2fe;
}

.message-icon {
  font-size: 24px;
  padding-top: 10px;
}

.chatgpt-icon {
  width: 24px;
  height: 24px;
}

.message-content {
  word-wrap: break-word;
}

.message-copy {
  margin-top: 24px;
  justify-content: flex-end;
  display: flex;
  font-size: 24px;
  color: #888;
  cursor: pointer;
}

.message-content pre {
  overflow-x: auto;
}
