/* 1. 1200px 或以上被视为笔记本电脑和台式机尺寸。
2. 768px 到 1024px 被认为是平板尺寸。
3. 767px 或以下被视为移动设备尺寸。 */

/* Header 样式 */
.navbar-header {
  padding: 10px;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: #497493;
  display: flex;
  align-items: center;
  max-height: 64px;
}

/* Container 样式 */
.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

.navbar-menu-button {
  font-size: 24px;
  color: white;
  cursor: pointer;
  margin-left: 120px;
}

/* Logo 样式 */
.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.navbar-contact {
  font-size: 14px;
  font-weight: bold;
  color: white;
}

/* Menu 样式 */
.navbar-menu {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

/* Menu Item 链接样式 */
.navbar-menu a {
  color: white; /* 白色字体 */
  text-decoration: none; /* 去掉下划线 */
}

/* Menu Item hover 状态 */
.navbar-menu a:hover {
  color: #40a9ff; /* hover 状态使用 Ant Design 高亮色 */
}

/* Menu Item active 状态 */
.ant-menu-item-selected a {
  color: #1890ff; /* active 状态字体颜色 */
}

.navbar-user-icon {
  width: 30px;
  height: 30px;
  background-color: #f0f0f0; /* 灰色背景 */
  border-radius: 50%; /* 圆形 */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; /* 鼠标指针 */
  transition: background-color 0.3s ease;
}

.navbar-user-icon:hover {
  background-color: #d9d9d9; /* 鼠标悬停时加深灰色 */
}

.navbar-user-icon .anticon {
  font-size: 16px; /* 图标大小 */
  color: #555; /* 图标颜色 */
}

/* mobile */
@media (max-width: 768px) {
  .navbar-header {
    max-height: 52px;
  }

  .navbar-menu-button {
    margin-left: 20px;
  }
}

/* tablet */
@media (min-width: 769px) and (max-width: 1024px) {
  .navbar-header {
    max-height: 52px;
  }
}
